{% extends viewType %}
{% block content %}
<h1>Event</h1>
{% if event %}
  <h2><b>Device:</b> {{ event.device }}<br>
  <b>Command:</b> {{ event.command }}<br>
  <b>Happens at:</b> {{ event.doAt|date:"D H:i" }}</h2>

  <a href="/core/events/{{ event.id }}/cancel">Cancel this event</a><p>
  <a href="/core/events/{{ event.id }}/delay/60/">Delay this event 1 hour</a><p>
  <a href="/core/events/{{ event.id }}/delay/120/">Delay this event 2 hours</a><p>
  <a href="/core/events/{{ event.id }}/delay/180/">Delay this event 3 hours</a><p>

  {% if event.schedule %}
  <h2>Belongs to a scheduled event. <a href="/admin/core/scheduledevent/{{ event.schedule.id }}/">Modify it here</a></h2>
  <h2>Happens every:</h2>
  <table>
  <tr>
  <td>Monday</td><td>{% if event.schedule.doMonday %} X {% endif %}</td></tr>
  <td>Tuesday</td><td>{% if event.schedule.doTuesday %} X {% endif %}</td></tr>
  <td>Wednesday</td><td>{% if event.schedule.doWednesday %} X {% endif %}</td></tr>
  <td>Thursday</td><td>{% if event.schedule.doThursday %} X {% endif %}</td></tr>
  <td>Friday</td><td>{% if event.schedule.doFriday %} X {% endif %}</td></tr>
  <td>Saturday</td><td>{% if event.schedule.doSaturday %} X {% endif %}</td></tr>
  <td>Sunday</td><td>{% if event.schedule.doSunday %} X {% endif %}</td></tr>
  </table>

  {% else %}
  This event does not belong to something scheduled
  {% endif %}



{% else %}
    <p>No Event are available.</p>
{% endif %}
{% endblock %}
