{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/automagically/admin/css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h1>Rebooting Automagically @ Raspberry Pi</h1>

'sudo shutdown -r now' has been sent to the OS....<br>

The system will now reboot...
{% endblock %}
