{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if varList %}
<h3>
    {% for var in varList %}
{{ var.name }}&nbsp;{{ var.getValue }}&nbsp;({{ var.getUpdated|date:"D H:i" }})<br>
    {% endfor %}
</h3>
{% endif %}
{% if devList %}
    {% for dev in devList %}
        <h2><a href="/core/{{ dev.id }}/">{{ dev.name }}</a></h2>
        {% if dev.dim %}
<img src="/static/automagically/dim.png" usemap="#Image-Maps_{{ dev.id }}" border="0">
<map id="_Image-Maps_{{ dev.id }}" name="Image-Maps_{{ dev.id }}">
  <area shape="rect" coords="0,0,20,20" href="/core/{{ dev.id }}/{{ cmds.OFF }}/" title="off" />
          {% for mapEntry in iphoneDimMap %}
  <area shape="rect" coords="{{ mapEntry.0 }},0,{{ mapEntry.1 }},20" href="/core/{{ dev.id }}/{{ mapEntry.2 }}/" title="dim{{ mapEntry.2 }}" />
          {% endfor %}
  <area shape="rect" coords="300,0,320,20" href="/core/{{ dev.id }}/{{ cmds.ON }}/" title="on" />
</map>

          <br>
        {% elif dev.onOff %}
<img src="/static/automagically/switch.png" usemap="#Image-Maps_{{ dev.id }}" border="0">
<map id="_Image-Maps_{{ dev.id }}" name="Image-Maps_{{ dev.id }}">
  <area shape="rect" coords="0,0,160,20" href="/core/{{ dev.id }}/{{ cmds.OFF }}/" title="off" />
  <area shape="rect" coords="160,0,320,20" href="/core/{{ dev.id }}/{{ cmds.ON }}/" title="on" />
</map>
        {% elif dev.activate %}
          <a href="/core/{{ dev.id }}/{{ cmds.ACTIVATE }}/">ACTIVATE</a><br>
        {% endif %}
    {% endfor %}

{% else %}
    <p>No Devices are available.</p>
{% endif %}
{% endblock %}
{% block sidebar %}
{% endblock %}
