{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/automagically/admin/css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<h1>Database backup handling</h1>
Please note that it is also adviced that you backup the complete image of the SD card besides this type of backup that only stores the database content!<p>
Current software revision (git repository): {{ currentRev }}<p>

<h1><a href="/backup/do/">Make backup</a><h1><p>

{% if items %}
<h1>Available backups</h1>
<table>
<tr>
<th>Date taken</th><th>Taken at source revision*</th><th></th>
</tr>
    {% for item in items %}
<tr>
<td><a href="/backup/{{ item.backupFile }}/">{{ item.date }}</a></td>
{% if item.rev == currentRev %}
<td><b>{{ item.rev }}</b></td>
{% else %}
<td>{{ item.rev }}</td>
{% endif %}
<td><a href="/static/automagically/backup/{{item.download }}">Download</a></td>
</tr>
    {% endfor %}
</table>
* Revisions that are bold match the current revision of software
{% else %}
<h1>No available backups</h1>
{% endif %}
<p>
<h1>Upload backup</h1>
<form enctype="multipart/form-data" action="/backup/" method="post">{% csrf_token %}
{{ form.as_p }}<p>
<input type="submit" value="Upload" name="Upload"/>
</form>


{% endblock %}
{% block sidebar %}
{% endblock %}
