{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<h1>REST API documentation</h1>
<p>Besides the web-interface Automagically is controllable by an API. This is composed of a couple of URL:s that it is possible to do HTTP GET or POST to retrive information and update information respectivly.</p>

<h2>Devices</h2>
<h3><a href="/rest/devices/">URL:/rest/devices/ (GET)</a></h3>
<p>This returns the current devices and which commands that it can handle</p>

<h2>Global Variables</h2>
<h3><a href="/rest/gv/all/">URL:/rest/gv/all/ (GET)</a></h3>
<p>Return all global variables and their current value. Replace all in the URL with a global variable id to just fetch one variable.</p>

<h2>Device State</h2>
<h3><a href="/rest/dev/all/">URL:/rest/dev/all/ (GET)</a></h3>
<p>Return all known device states. Replace all in the URL with a device id to just fetch status for one device.</p>

<h2>Events</h2>
<h3><a href="/rest/events/">URL:/rest/events/ (GET)</a></h3>
<p>Resturn a list of all device events that will occur.</p>

<h2>Do</h2>
<h3><a href="/rest/do/">URL:/rest/do/ (POST)</a></h3>
<p>This is used to modify or execute commands. The following is possible to do. Return value is a JSON object. Always with a result entry but sometimes also with other information.</p>
<h3>Device Command</h3>
<p>Parameters to the POST request
<ul>
<li>type="COMMAND" - Mandatory</li>
<li>commandid=[Command ID] - Mandatory<br>ID of the command to do. Supported commands listed for each device by /rest/devices/ .</li>
<li>deviceid=[Device ID] - Mandatory<br>ID of the device to execute the command.</li>
</ul>
</p>
<h3>Signal</h3>
<p>Parameters to the POST request
<ul>
<li>type="SIGNAL" - Mandatory</li>
<li>signal=[Signal content] - Mandatory<br>The signal to send in.</li>
<li>source=[Source] - Optional<br>The given source of the signal. Defaults to "http_post" if not present.</li>
</ul>
</p>
<h3>Create Event</h3>
<p>Parameters to the POST request
<ul>
<li>type="CREATEEVENT" - Mandatory</li>
<li>commandid=[Command ID] - Mandatory<br>ID of the command to do at the event. Supported commands listed for each device by /rest/devices/ .</li>
<li>deviceid=[Device ID] - Mandatory<br>ID of the device to execute the command.</li>
<li>dotime=[Time] - Mandatory<br>Time to do the event in format HH:MM:SS.</li>
<li>dodate=[Date] - Mandatory<br>Dato to do the event in format YYYY-MM-DD.</li>
<li>condition_globalvariableid=[Global Variable ID] - Optionaly<br>Only do the event if the value of the Global variable is True or not 0.</li>
</ul>
</p>
<h3>Cancel Event</h3>
<p>Parameters to the POST request
<ul>
<li>type="CANCELEVENT" - Mandatory</li>
<li>eventid=[Event ID] - Mandatory<br>The ID of the event to cancel.</li>
</ul>
</p>
<h3>Delay Event</h3>
<p>Parameters to the POST request
<ul>
<li>type="CANCELEVENT" - Mandatory</li>
<li>eventid=[Event ID] - Mandatory<br>The ID of the event to delay.</li>
<li>time=[minutes] - Mandatory<br>The number of minutes to delay the event. Integer numbers only.</li>
</ul>
</p>

{% endblock %}
{% block sidebar %}
{% endblock %}
