{% extends viewType %}
{% block content %}
<h1>{{ heading }}</h1>
{{ instructions }}<p>
<form action="/signals/create/" method="post">{% csrf_token %}
{{ signalform.as_p}}
{{ form.as_p }}
<input type="submit" value="Test" name="Test"/>
<input type="submit" value="Save" name="Save"/>
</form>
{% if testdone %}
Testing the signal handling resulted in the following:<p>
{% if matched %}
Pattern matched the signal
{% else %}
Pattern did not match the signal
{% endif %}
<p>
{% if parsed %}
The following variables was parsed:
<ol>
{% for p in parsed %}
<li>{{ p }}</li>
{% endfor %} 
</ol>
{% else %}
No variables was parsed
{% endif %}
{% endif %}
{% endblock %}
